@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
.app {
  background-color: theme("colors.secondaryLight");
  font-family: theme("fontFamily.base");
}

.app__whitebg {
  background-color: theme("colors.white");
}

.app__primarybg {
  background-color: theme("colors.secondaryLight");
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: theme("colors.black");
  }
}

.head-text {
  @apply text-2xl lg:text-4xl font-bold text-center text-black uppercase;

  span {
    @apply text-secondary;
  }
}

.transition-brand {
  transition: all 0.3s ease-out;
}

.section-subheading {
  @apply text-center text-lg font-normal lg:text-xl xl:text-2xl mb-4 lg:mb-8;
}
.p-text {
  @apply text-sm leading-6  text-justify lg:text-left lg:text-base  xl:text-lg text-gray;
}

.bold-text {
  @apply text-base text-left md:text-lg lg:text-2xl font-bold text-black;
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: theme("colors.white");
    margin: 0.25rem 0;
    border: 1px solid theme("colors.lightGray");

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: theme("colors.gray");
    }

    &:hover {
      background-color: theme("colors.secondary");
      border-color: theme("colors.secondary");

      svg {
        color: theme("colors.white");
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
